.container {
  display: flex;
  flex-flow: row wrap;
 /* display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 100px;
  grid-template-columns: 90%;
  grid-template-columns: 0.5fr 0.5fr;
  /* flex-direction:column; Cambiamos la dirección del eje principal a columna */
  justify-content: space-around; /* Alineamos los elementos al inicio del eje principal */
  align-items: center;
  padding: 10px;
}
body{
  background: #F1F5F8;
}

.input-container {
  flex-basis: 50%;
}

label {
  color: #EE5253;
  font-weight: bold;
  text-align: left;
  width: 8rem;
}

input, select {
  
  border: 1px solid #C4C4C4;
    transition: all 0.5s ease;
  border-radius: 5px;
  margin: 5px;
  padding-left: 10px;
  width: 90%;
  max-width: 400px;
  color: #969595;
    font-size: 1.2rem;
}


.contenedor-form{
  width: 90%;
  color: #EE5253;
  background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 44px;
}


.error {
  color: red;
  margin-bottom: 20px;
}

/*.button[type="formu"] {
  background-color: #0062cc;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 20px;
  width: 200px;
  height: 60px;
  margin-bottom: 10px;
  justify-content:center;
  align-items: center;
}*/

/*.button[type="button"] {
  background-color: #0062cc;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 20px;
  width: 200px;
  height: 60px;
  margin-bottom: 10px;
  justify-content:center;
  align-items: center;
}*/

/* button {
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  color: #747474;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 0.8rem;
  width: 250px;
  height: 65px;
  text-align:center;
  font-weight: bold;
  justify-content: center;
  transition: all 0.5s ease;
} */

button:hover {
  background-color: #ee5253;
  color: white;
}

/*--- setMensajeError-----*/
.mensaje-verde {
  color: green;
}

 /*---Vista de prospectos---*/
th {
  padding: 0.1rem 0.5rem;
}
 /*--Flecha de regreso--*/
.Regreso{
  position: absolute;
  left: 0.1%;
  top: 11%;
  transform: rotate(90deg);
  
}
.textoRegreso{
  position: absolute;
  left: 10%;
  top: 12.5%;
}
#btnGuardar, .btnSig{
  background: #EE5253;
border: 5px solid #EE5253;
border-radius: 38.5px;
color: #FFFFFF;
width: 10rem;
height: 3rem;
padding: 0 1rem;


text-align: center;
}

#btnCancelar, .btnCancelar{
  background: #FFFFFF;
border: 3px solid #EE5253;
border-radius: 38.5px;
color: #EE5253;
padding: 0 1rem;
width: 10rem;
height: 3rem;

text-align: center;

}




/*-----Input correo colaborardor-----*/

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*----Cambiar el mensaje de correo valido-------*/
.valido {
  color: green;
}




