button {
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  color: #747474;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 0.8rem;
  width: 250px;
  height: 65px;
  text-align:center;
  font-weight: bold;
  justify-content: center;
  transition: all 0.5s ease;
}
.regreso{
  position: absolute;
  left: 5%;
  font-size: 1.8rem;
  top: 13.5%;
  color: #6c63ff;
}
#indicador{
  position: absolute;
  left: 8%;
  font-size: 1.6rem;
  top: 13.78%;
  font-family: 'Circular Std';
font-style: normal;
font-weight: 500;
font-size: 16px;
transition: color 0.3s ease;

color: #172126;
}
#indicador:hover{
  color: #6c63ff;
}
.no-decoration{
  text-decoration: none;
  transition: color 0.5s ease;
  
}
.no-decoration:hover p{
  
  color: #252525;
}
p{
  transition: color 0.5s ease;
}
.placeBtn{
  padding-top: 1.2rem;
  font-style: normal;
font-weight: 400;
font-size: 16px;
color: #EE5253;
}
.Home{
  width: 100vw;
  height: 75vh;
  display: grid;
grid-template-columns: 1fr;
grid-template-rows: 0.3fr 1fr;
padding-top: 2rem;
grid-row-gap: 10px;
align-items: center;
}
.subTituloLand{
  font-style: normal;
font-weight: 500;
font-size: 1.8rem;
transition: color 0.5s ease;
letter-spacing: 3.75px;

color: #172126;
}
.tituloLand{
  color: #172126;
  font-size: 2.2rem;
  font-weight: 700;
}
body{
  background: #F1F5F8;
}

button:hover {
  background-color: #ee5253;
  color: white;
}

img[alt='Boton-Agregar']{
  width: auto;
  height: 9rem;
  aspect-ratio: 3/2;
  object-fit: contain;

  
}

.button-container {
  display:flexbox;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.land{
  height: 90vh;
  align-items: center;
  justify-content: center;
  
}
.bienvenidoText{
  display: flex;
  padding-left: 5rem;
}
#contenedor-land{
  width: 100%;
  
  background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 44px;
}

@media screen and (max-width: 768px) {
  
  .bienvenidoText{
    width: 100%;
    padding-left: 0;
    justify-content: center;
  }
  #contenedor-land{
    width: 90vw!important;
    margin-top: 5rem;
    text-align: center;
  }
  #landing-p{
    height: 100%;
  }
  
}