.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin: 0.5rem auto;
  margin-bottom: 1rem;
}
h1{
  color: #EE5253;
}
label{
  color: #172126;
}
.login{
  height: 74vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


body{
  background-color: #F1F5F8;
}

label {
  margin-bottom: 0.5rem;
}

input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
}
.position{
  width: 25rem;
}

button[type="submit"] {
  width: 65%;
  padding: 0.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  color: #EE5253;
  transition: all 0.5s ease;
  font-size: 1.2rem;
}
  
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #EE5253;
    outline: none;
  }
