button {
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  color: #747474;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 0.8rem;
  width: 250px;
  height: 65px;
  text-align:center;
  font-weight: bold;
  justify-content: center;
  transition: all 0.5s ease;
}
.Home{
  width: 100vw;
  height: 75vh;
  display: grid;
grid-template-columns: 1fr;
grid-template-rows: 0.3fr 1fr;
padding-top: 2rem;
grid-row-gap: 10px;
align-items: center;
}
body{
  background: #B8B4FB;
}

button:hover {
  background-color: #ee5253;
  color: white;
}

h1 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.button-container {
  display:flexbox;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
